*{
    margin: 0px;
    padding: 0px;
}
.main{
    height: 100%;
    width: 100%;
}
.form{
    width: 352px;
    height: 600px;
    margin: 10px auto;
    box-shadow: 4px 4px 8px 8px #EEEEEE;
    border-radius: 10px;
    padding: 24px;
}
.box{
    height: 50px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.26); 
    
}
.box1{
    height: 50px;
    width: 100%;
    text-align: center;
    background-color: #0a66c2;
    border-radius: 30px;
    color: white;
    font-weight: bold;
    cursor: pointer;

}
.box3{
    height: 50px;
    width: 100%;
    background-color: white;
    border-radius: 30px;
    cursor: pointer;
}
.para{
    text-align: center;
}
.hover1 :hover{
    background-color: rgba(0, 0, 0, 0.26);
}
.hover2 :hover{
    background-color: blue;
}
.linkto{
    color: white;
}